<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <PageTitle>DHL</PageTitle>
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Stránka nenalezena - DHL</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Stránka nenalezena.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<HeadOutlet />
