@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<head>
    <script src="js/site.js"></script>
</head>
@code {
    private AuthenticationState? authState;
    private ClaimsPrincipal? user;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState?.User;
    }
}

@if (user?.Identity?.IsAuthenticated == true)
{
    <div class="layout">
        <header>
            <div class="logo">DHL</div>
            <NavMenu />
            <aside>
                <UserMenu />
            </aside>
        </header>

        <main>
            @Body
        </main>
    </div>
}
else
{
    <RedirectToPortal />
}

